{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>


    <div class="container">
        <img src="{{ listing.image.url }}" alt="image">
        <p>{{ listing.description }}</p>

        <p>Price: ${{ listing.price }}</p>

        <p>x bid(s) so far. Your bid is the current bid.</p>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="text" class="form-control" placeholder="bid" aria-label="bid" aria-describedby="basic-addon1">
          </div>

        <button class="btn btn-primary" type="submit">Place Bid</button>
        <hr>
    
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.author }}</li>
            <li>Created {{ listing.date_posted|date:"M j, Y, fa" }}</li>
        </ul>
    <div>
{% endblock %}