{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load auctions_extras %}

{% block body %}
    <div class="container">
        <div class="media">
            <img class="align-self-center mr-3" src="{{ listing.image.url }}" alt="listing image">
            <div class="media-body">
                <h5 class="mt-0">{{ listing.title }}</h5>
            <p>{{ listing.description }}</p>
            </div>
          </div>

		<div class="row">
            <div class="col-sm">
                {% if listing.bids.all.count == 0 %}
                    Active price: <h4>${{ listing.price }}</h4>
        		{% else %}
                    Active price: <h4>${{ listing.bids.all.last.price }}</h4>
                {% endif %}
            </div>
            <div class="col-sm">
                Listing price: <h4>${{ listing.price }}</h4>
			</div>
			{{ user|item_in_watchlist:listing }}
			<div class="col-sm">
				<form action="" method="post">
                    {% if item_in_watchlist == 'True' %}
						hisfsdffsdsdf
					{% else %}
						<button class="btn btn-primary btn-lg" name="add-watchlist-form">Add to watchlist</button>
                    {% endif %}
				</form>
			</div>
        </div>

        <div class="container">
        {% if listing.bids.all.count == 0 %}
            <div class="col">Highest Bidder: No one has bidded yet, be the first!</div>
            <div class="col">0 bids so far.</div> 
        {% elif listing.bids.all.count == 1 %}
            <div class="col"><a href="/">{{ listing.bids.all.last.author.username }}</a> is the first and highest bidder!</div>
            <div class="col">1 bid so far.</div> 
        {% else %}
            <div class="col"><a href="/">{{ listing.bids.all.last.author.username }}</a> is the highest bidder!</div>
            <div class="col">{{ listing.bids.all.count }} bids so far.</div> 
        {% endif %}
        </div>

		<div class ="content-section">
			<form method="post">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ bid_form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit" name="bid-form">Place Bid</button>
				</div>
			</form>
        </div>

        <hr>
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.author }} on {{ listing.date_posted|date:"d/m/y" }}</li>
            <li>Category: {{ listing.category }}</li>
		</ul>

		<h3>Comments</h3>
		<div>
			{% for comment in listing.comments.all %}
					<div class="card">
						<div class="media">
							<img class="mr-3" src="/media/default_profile_image.png" alt="profile image" width="128px">
						
							<div class="media-body">
								<p><b>{{ comment.author.username }}</b> {{ comment.date_posted|date:"d/m/y" }}</p>
								<p>{{ comment.comment }}</p>
							</div>

						</div>
					</div>
			    {% empty %}
					<p>No comments have been posted yet.</p>
			{% endfor %}
		</div>
		<div class ="content-section">
			<form method="post">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Create a comment:</legend>
					{{ comment_form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit" name="comment-form">Submit</button>
				</div>
			</form>
		</div>
    <div>
{% endblock %}