body {
    padding: 10px;
    background-color: #eeeeee;
}

.media {
    padding: 15px;
}

.media-body {
    margin-left: 10vw;
}

img {
    max-width: 250px;
    max-height: 250px;
}

.listing-price h3 {
    display: inline;
}

/*
.form-control {
    width: 30%;
}
*/