body, html {
    background-color: #eeeeee;
}

textarea {
    min-height: 400px;
}

tbody:hover {
    background-color: rgb(207, 12, 12);
}

.subject-container {
    margin-bottom: 10px;
}
    .subject-container p,
    .subject-container h5 {
        display: inline;
    }

.body-container {
    background-color: #e6e6e6;
    width: 80%;
    height: auto;
    word-wrap: break-word;
}