body, html {
    background-color: #eeeeee;
    margin: 0;
}

textarea {
    min-height: 400px;
}

tbody:hover {
    background-color:#474e55;
}

.subject-container {
    margin-bottom: 10px;
}
    .subject-container p {
        margin: 0;
    }

.body-container {
    background-color: #e6e6e6;
    width: 80%;
    height: auto;
    word-wrap: break-word;
} 

.td { 
    font-weight: bold; 
} 

.read { 
    opacity: 66%;
    font-weight: 300;
}

.table-dark {
    background-color: #17191b;
    font-weight: 500;
}

.fa-archive,
.fa-trash {
    opacity: 20%;
}
    .fa-archive:hover,
    .fa-trash:hover {
        opacity: 100%;
    }

.archived {
    opacity: 100%;
}